@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --radius-obenlo: 3rem;
  --color-obenlo-indigo: #4f46e5;
}

@layer base {
  body {
    @apply font-outfit antialiased text-slate-900 bg-white;
  }
}

@layer components {
  .obenlo-glass {
    @apply bg-white/80 backdrop-blur-xl border border-white/20 shadow-2xl;
  }
}
